<!-- booking section starts  -->

   <section class="booking" data-aos="zoom-out">

      <h1 class="heading">Booking Your Tour</h1>

      <form action="booking/booking-new-tours" method="post" class="book-form" data-aos="zoom-in" data-aos-delay="600">
            <div class="flex">
               <!--add user name-->
               <div class="inputBox">
                  <span>Tên khách hàng</span>
                  <input type="text" required placeholder="Nhập họ tên" name="bo_userName" class="box">
               </div>
               <!--add user email-->
               <div class="inputBox">
                  <span>Email khách hàng</span>
                  <input type="email" required placeholder="Nhập Email" name="bo_userEmail" class="box">
               </div>
               <!--add user ID-->
               <div class="inputBox">
                  <span>ID khách hàng</span>
                  <input type="number" required placeholder="Nhập mã khách hàng" min="1" max="10" maxlength="2" name="acc_ID" class="box">
               </div>
               <!--chose your tours-->
               <div class="inputBox">
                <span>Chọn địa điểm</span>
                    <select name="tours_ID" id="tours_ID" class="box" required>
                        <option value="">Chose your Tours</option>
                        {{#each booking}}
                            <option value="{{tours_ID}}">{{tours_Name}}</option>
                        {{/each}}
                    </select>
               </div>
               <!--add user phone-->
               <div class="inputBox">
                  <span>Số điện thoại</span>
                  <input type="text" required placeholder="Nhập số điện thoại" name="bo_userPhone" class="box">
               </div>
               <!--Write Locations-->
               <div class="inputBox">
                  <span>Địa Điểm</span>
                  <input type="text" required placeholder="Nhập địa điểm" name="bo_locaName" class="box">
               </div>
               <!--add date to go-->
               <div class="inputBox">
                  <span>Ngày Khởi Hành</span>
                  <input type="date" required name="bo_checkInDate" class="box">
               </div>
               <!--add number tourist-->
               <div class="inputBox">
                  <span>Số Người Đi</span>
                  <input type="number" required placeholder="Nhập số người" min="1" max="10" maxlength="2" name="bo_numberTourist" class="box">
               </div>
               <!--add some note-->
                <div class="inputBox">
                  <span>Để Lại Lời Nhắn</span>
                  <textarea name="bo_note" required class="box" required maxlength="100%" cols="196" rows="10" class="box"></textarea>
               </div>
            </div>

                <input type="submit" value="book tour" name="search" class="btn">
      </form>

   </section>

<!--  booking section end    -->