<!-- destinations section starts  -->

<div class="container destinations">

   <h1 class="heading" data-aos="zoom-out">destinations</h1>

   <section class="grid">
      {{#each locations}}
      <div class="box" data-aos="zoom-in">
         <a href="/course_L/{{loca_Slug}}">
            <img src="/assets/media/images/{{loca_Image}}" alt="">
            <h3><span>{{loca_Name}}</span></h3>
         </a>
      </div>
      {{/each}}
   </section>

</div>

<!-- destinations section ends -->