<!-- header section starts  -->

<header class="header" data-aos="fade-down">

    <section class="flex">

      <a href="http://localhost:4000/" class="logo">Travia.</a>

      <nav class="navbar">
         <a href="http://localhost:4000/">home</a>
         <a href="http://localhost:4000/about">about</a>
         <a href="http://localhost:4000/tours">tours</a>
         <a href="http://localhost:4000/destinations">destinations</a>
         <a href="http://localhost:4000/contact">contact</a>
      </nav>

      <div id="menu-btn" class="fas fa-bars"></div>

   </section>

</header>

<!-- header section ends -->

<!-- tours section starts  -->

<div class="container tours">

   <h1 class="heading" data-aos="zoom-out">popular places</h1>

   <section class="grid">

      <div class="box" data-aos="fade-up">
         <div class="price"><i class="fas fa-dollar-sign"></i><span>1299</span></div>
         <img src="/assets/media/images/tour-img-1.webp" class="image" alt="">
         <h3 class="name">taj mahal</h3>
         <p class="address">agra, india</p>
         <a href="#" class="btn">send enquiry</a>
      </div>

      <div class="box" data-aos="fade-up">
         <p class="price"><i class="fas fa-dollar-sign"></i><span>1999</span></p>
         <img src="/assets/media/images/tour-img-2.webp" alt="" class="image">
         <h3 class="name">tokyo</h3>
         <p class="address">tokyo, japan</p>
         <a href="#" class="btn">send enquiry</a>
      </div>

      <div class="box" data-aos="fade-up">
         <p class="price"><i class="fas fa-dollar-sign"></i><span>3000</span></p>
         <img src="/assets/media/images/tour-img-3.webp" alt="" class="image">
         <h3 class="name">hawaii</h3>
         <p class="address">hawaii, united state</p>
         <a href="#" class="btn">send enquiry</a>
      </div>

      <div class="box" data-aos="fade-up">
         <p class="price"><i class="fas fa-dollar-sign"></i><span>1203</span></p>
         <img src="/assets/media/images/tour-img-4.webp" alt="" class="image">
         <h3 class="name">london</h3>
         <p class="address">england, U.K.</p>
         <a href="#" class="btn">send enquiry</a>
      </div>

      <div class="box" data-aos="fade-up">
         <p class="price"><i class="fas fa-dollar-sign"></i><span>1999</span></p>
         <img src="/assets/media/images/tour-img-5.webp" alt="" class="image">
         <h3 class="name">lotus temple</h3>
         <p class="address">new delhi, india</p>
         <a href="#" class="btn">send enquiry</a>
      </div>

      <div class="box" data-aos="fade-up">
         <p class="price"><i class="fas fa-dollar-sign"></i><span>1000</span></p>
         <img src="/assets/media/images/tour-img-6.webp" alt="" class="image">
         <h3 class="name">Arc de Triomphe</h3>
         <p class="address">Paris, France</p>
         <a href="#" class="btn">send enquiry</a>
      </div>

   </section>

</div>

<!-- tours section ends -->





